<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
    <div class="h-screen w-full bg-black text-white p-4 flex flex-col items-center justify-center">
        <div class="text-3xl font-bold">To Do List</div>
        {% for key, value in data.items() %}
        <div class="flex flex-col items-center justify-center">
        <div>{{ key }} - {{ value }}</div>
        {% endfor %}
        <form action="/add" method="post">
            <input type="text" name="task" placeholder="Add a task">
            <button type="submit">Add Task</button>
        </form>
    </div>
</body>
</html>